<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Manejador de Subdependencias</title>
        <link href="./webjars/jquery-ui/1.9.2/css/smoothness/jquery-ui-1.9.2.custom.css" rel="stylesheet">
        <script type="text/javascript" src="http://www.google.com/jsapi"></script>
        <script src="./resources/js/jquery-1.11.1.min.js"></script>

        <script src="./resources/js/jquery-ui-1.9.2.custom.js"></script>
		<script src="./resources/js/colegioadministracion.js"></script>
		<link href="./resources/css/template/pnotify.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet" type="text/css">
		<link href="./resources/css/colegioadministracion.css" rel="stylesheet">
        
      	<link href="./resources/css/template/bootstrap.css" rel="stylesheet">
      	<script src="./resources/js/template/jquery-2.2.1.js"></script>
		<script src="./resources/js/template/bootstrap.js"></script>
		<script src="jquery.js"></script> 
	    <script> 
	    	$(function(){
		      $("#cabecera").load("./resources/header.html");
		      $("#pieDePag").load("./resources/footer.html");
	    	});
	    	function goBack() {
	    	    window.history.back();
	    	}
	    </script> 
    </head>
    <style>
	    	table,th,td {
	    		border-collapse: collapse;
	    		padding: 5px;
	    	}
	    </style>
    <body>
    <div>
		<div id="cabecera"></div>
   </div>
<div class="bloque-responsivo top-150">

	<!-- h4>
	<td th:text="${top.id}">...</td> 
	<textarea name = "nombre" rows = "1" cols = "80" th:field = "${top.name}" form = "myform" >... </textarea>
	</h4>
	<h4><td th:text="${top.name}">...</td></h4>
	-->
	
		<form action="#" accept-charset="UTF-8" th:action="@{/saveDepen}" th:object="${top}" method="post">
	    	<p>Clave de dependencia: <input type="text" size="3" th:field="*{id}" /></p>
	        <p>Dependencia: <input type="text" size="40" th:field="*{name}" />
	        <input type="submit" value="Guardar" /></p>
	    </form>
	    <h4><td th:text="${depen.desc}">...</td></h4>
	    
	    
	    
	    
	    <form action="#" accept-charset="UTF-8" th:action="@{/saveSubDepen}" th:object="${depen}" method="post">
	    	<center>
	    	<div class="table-responsive">
		        <table class="table table-striped">
	        	<th>Nombre</th>
	        	<th>Dependencia</th>
	        	<th>Subdependencia</th>
	        	<th>Clave compuesta</th>
	        	<th>Estado</th>
	        	<th>Tipo</th>
	        	<th></th>
	        	
	        	<tr>
	        		<td><input type="text" size="30" th:field="*{desc}" /></td>
	        		<td><input type="text" size="3" th:field="*{clave_ds}" /></td>
	        		<td><input type="text" size="1" th:field="*{clave_s}" /></td>
	        		<td><input type="text" size="5" th:field="*{clave_comp}" /></td>
			        <td>
			        	<select th:field="*{status}">
						  <option th:value="0"
						          th:text="Desactivado">Desactivado</option>
						  <option th:value="1"
						          th:text="Activado">Activado</option>
						</select>
			        <!-- input type="text" size="1" th:field="*{status}" /> -->
			        </td>
			        <td>
			        	<select th:field="*{tipo_desc}">
						  <option th:value="0"
						          th:text="0">0</option>
						  <option th:value="1"
						          th:text="1">1</option>
						  <option th:value="2"
						          th:text="2">2</option>
						</select>
			        <!-- input type="text" size="1" th:field="*{tipo_desc}" /> -->
			        </td>
			        <td>
			        	<input type="submit" class="btn btn-light" value="Guardar" />
			        	<!--  input type="reset" value="Reset" / -->
			        </td>
	        	</tr>
				</th:block>	        	
			</table>
			</div>
			</center>	        
	    </form>

    	<div align="center">
			
			<form action="#" accept-charset="UTF-8" th:action="@{/subdependencias}" th:object="${top}" method="get">
	    		<input type="hidden" name="cve_depen" th:value="*{id}" size="3" />
	        	<input type="submit" class="btn btn-light" value="Regresar" />
	    	</form>
    		<br /><br /><br /><br /><br /><br />
    	</div>
    	
    	</div>
    	
    	<div id="pieDePag"></div>
    </body>
</html>