<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
        <title>Manejador de Subdependencias</title>
        <link href="./webjars/jquery-ui/1.9.2/css/smoothness/jquery-ui-1.9.2.custom.css" rel="stylesheet">
        <script type="text/javascript" src="http://www.google.com/jsapi"></script>
        <script src="./resources/js/jquery-1.11.1.min.js"></script>

        <script src="./resources/js/jquery-ui-1.9.2.custom.js"></script>
		<script src="./resources/js/colegioadministracion.js"></script>
		<link href="./resources/css/template/pnotify.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet" type="text/css">
		<link href="./resources/css/colegioadministracion.css" rel="stylesheet">
        
      	<link href="./resources/css/template/bootstrap.css" rel="stylesheet">
      	<script src="./resources/js/template/jquery-2.2.1.js"></script>
		<script src="./resources/js/template/bootstrap.js"></script>
		<script src="jquery.js"></script> 
	    <script> 
	    	$(function(){
		      $("#cabecera").load("./resources/header.html");
		      $("#pieDePag").load("./resources/footer.html");
	    	});
	    	function goBack() {
	    	    window.history.back();
	    	}
	    </script> 
    </head>
    <style>
	    	table,th,td {
	    		border-collapse: collapse;
	    		padding: 5px;
	    	}
	    </style>
    <body>
    <div>
		<div id="cabecera"></div>
   </div>
<div class="bloque-responsivo top-150">

	<h4>Programa:	
		<text th:text="${numProg}">...</text></h4>
		<text th:text="${nomProg}">...</text>
	<h4>Subprogramas:</h4>	
	<div align="center">
		<a href="new-subprog" th:href="@{/new-subprog(clave_sp=${numProg})}">Nuevo Subprograma</a>
		<div class="table-responsive">
			<table class="table table-striped">
	        	<th>No. de Subprograma</th>
	        	<th>Nombre</th>
	        	<th>Acción</th>
	        	<tr th:each="sprogs : ${listDepenSubP}">
	        		<td th:text="${sprogs.clave_sp}" style="text-align:center; vertical-align:middle;">...</td>
	        		<td th:text="${sprogs.desc}">...</td>
					<td>
						<a href="edit-subp" 
   						th:href="@{/edit-subp(clave_comp=${sprogs.clave_comp})}"><img src="./resources/images/edit.png"></a>
   						&nbsp;
   						<a href="del-subp" 
   						th:href="@{/del-subp(clave_comp=${sprogs.clave_comp})}"><img src="./resources/images/del.png"></a>
					</td>
							
	        	</tr>
				</th:block>	        	
			</table>
		</div>

    	<div align="center">
	         <form action="#" accept-charset="UTF-8" th:action="@{/programas}" method="get">
	    		<input type="hidden" name="clave_comp" th:value="${cved}" size="3" />
	        	<input type="submit" class="btn btn-light" value="Regresar" />
	    	</form>
			<br /><br /><br /><br /><br /><br />
    	</div>
    	
    	</div>
    	</div>
    	<div id="pieDePag"></div>
    </body>
</html>